

body {font-family: Arial, Helvetica, sans-serif;
    background-color: #bfbfbf;
}
form {border: 3px solid #9c2121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3a3939;
  box-sizing: border-box;
}

button {
  background-color: #424242;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
  background-color: #7d0303;
  color: #000000;
}




.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
